{% extends "layout.html" %}
{% block my_content %}


<body>
  <div id="vis"></div>
  <script src="https://cdn.jsdelivr.net/npm/vega@3"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@2"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@3"></script>
  <script type="text/javascript">
    var spec = {{context | safe}};  /* JSON dump of your chart's spec */
    var opt = {"renderer": "canvas", "actions": false};  /* Options for the embedding */
    vegaEmbed("#vis", spec, opt);
  </script>

{% endblock my_content %}