<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Air Quality</title>
 
</head>

<body >
    <!-- navbar -->
    <button id="btnHome" cless="navBar">Home</button>
    <button id="btnDaily" cless="navBar">Daily</button>
    <button id="btnWeekly" cless="navBar">Weekly</button>
    <button id="btnMonthly" cless="navBar">Monthly</button>
    <hr>

    <div class="wrapper">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            {% block my_content %}
            {% endblock my_content %}
            <!-- /.content-header -->
            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <!-- /.col-md-6 -->
                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
    </div>
</body>

</html>