{% block script %}
<!-- 
put your custom script or styling here
-->
{% endblock script %}


{% block my_content %}

<!-- Plotly plot placeholder -->
<div class="container-fluid">
    <div class="row">
        <div class="col">
        </div>
            <div class="col-6">
                <!-- Placeholder for map-->
                <div class="chart" id="plotly-geo">
                    <p>div1</p>
                    <p>{{context}}</p>
                </div>
            </div>
        <div class="col">
        </div>
    </div>
        <div class="row">
        <!-- Placeholder for the global-cases plot-->
            <div class="chart" id="plotly-global">
                <p>div2</p>
                <p>{{context}}</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <!-- Placeholder for global-time series -->
            <div id="plotly-timeseries"></div>
            <p>div3</p>
            <p>{{context}}</p>
        </div>
    </div>
</div>
<!-- Script to execute the Json ( we can create it also with looping) 

-->
{% endblock my_content %}
